.app-container {
    display: flex;
    flex-flow: column;
}

.app-container .wrapper {
    flex: 1 1 auto;
    /*flex-flow: row;*/
}

.app-container .wrapper .pdf-viewer {
    /*flex-grow: 1;*/
}

.app-container .wrapper .sidebar {
    /*flex: 1 1 33%;*/
}
